@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#preload-screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #000000;
  z-index: 50;
  transition: opacity 0.6s ease;
}

#preload-screen.hide {
  opacity: 0;
  pointer-events: none;
}
